@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");

@font-face {
  font-family: 'busoramabold'; 
  src: url('../fonts/busorama-bold-webfont.ttf');
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  background: url('../images/penyiscola.jpg'); 
  background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.225em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

h2 {
  font-size: 1.35em;
  line-height: 1.75em;
}

#welcome {
  background-color: #066d8d;
  text-align: center;
}

#hostal {
  background-color: #309191;
  text-align: center;
}

#restaurante {
  background-color: #1792a4;
  text-align: center;
}

#reserva {
  width: 80%;
  height: 340px;
  padding: 100px 0 0 0;
}

#reserva div {
  width: 50%;
  margin: 0 auto;
}

#reserva h2 {
  letter-spacing: 0.225em;
}

#reserva p {
  letter-spacing: 0.075em;
  line-height: 1.6em;
}

		/*header.major h2, header.major h3, header.major h4, header.major h5, header.major h6 {
			border-bottom: solid 2px #fff;
			display: inline-block;
			padding-bottom: 1em;
			position: relative;
		}

			header.major h2:after, header.major h3:after, header.major h4:after, header.major h5:after, header.major h6:after {
				content: '';
				display: block;
				height: 1px;
			}*/

.penyonfont{ font-family: 'busoramabold'; }

/** HEADER **/
#header-nav {
  background-color: #2e3842;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/logo.png') no-repeat;
  width: 83px;
  height: 60px;
}

#header-nav{
  height: 0.9em;
}

/*.navbar-header {
  float: none;
}*/

.navbar-brand a{
  padding-top: 25px;
  color: #fff;
  font-family: 'busoramabold';
  font-size: 1.4em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/*.navbar-toggle { 
  display: block; 
}*/

.navbar .container-fluid, .navbar-collapse {
  padding-left:0;
}

/*** FOOTER ***/
.panel-footer {
  padding: 6em 0 4em 0;
  background-color: #1d242a;
  opacity: 0.9;
  border-top: 0;
  height: 16em;
}

.panel-footer .container {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8em;
	letter-spacing: 0.225em;
  line-height: 200%;
	text-transform: uppercase;
}
/*** END FOOTER ***/

/*** Small devices ***/
@media (min-width: 768px) and (max-width: 991px) {
  #reserva {
    width: 100%;
    height: 240px;
    text-align: center;
  }

  #reserva div {
    width: 100%;
    margin: 0 auto;
  }
}

/*** Extra small devices ***/
@media (max-width: 767px) {
  .navbar-brand a{
    font-size: 0.7em;
    letter-spacing: 0.15em;
  }

  #reserva {
    width: 100%;
    height: 140px;
    padding: 30px 0 0 0;
    text-align: center;
  }

  #reserva div {
    width: 100%;
    margin: 0 auto;
    font-size: 0.8em;
  }
}
